<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    引入外部配置文件-->
    <properties resource="jdbc.properties"/>


    <!--    起别名-->
    <typeAliases>
        <package name="com.com.tangwei.pojo"/>
        
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
<!--使用xml文件属性名是resouce   使用注解使用class-->
    <mappers>
<!--        同时配置resource和class会报错-->
        <mapper resource="com/com.tangwei/UserMapper.xml"/>
<!--        <mapper class="com.com.tangwei.dao.UserMapper"/>-->
    </mappers>

</configuration>